.error {
    color: #FF0000;
}

#header {
    background: #6d6d6d;
    height: 100px;
}

#headerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    color: #ffffff;
    background-color: #6d6d6d;
    text-align: center;
}
footer p {
    color: black;
}

.urlList {
    margin-left: 20px;
    margin-right: 20px;
}

#urlLink {
    width: 400px;
}

body {
    background-color: #ccc;
}

.urlList {
    text-align: center;
    margin: 10px;
}

#homeTable, #adminTable {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.homeTD, .homeTH, .adminTD, .adminTH {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#addTable {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.addTD {
    text-align: left;
    padding: 8px;
}

#adminLoginTable {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.adminLoginTD, .adminLoginTH {
    padding: 8px;
    text-align: center;
}